body {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.cf__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 600px;
  margin: 300px auto;
}

.cf__container .cf__head {
  color: white;
  background-color: black;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.cf__container .cf__btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: x-large;
}